.dashboard-nav {
    /* padding: 15px; */
    color:#F58634;
    border-bottom: 1px solid #ccc;
}

.dashboard-goback:hover {
    outline: 1px solid #ccc;
    cursor: pointer;
}

.Dashboard .editButton:hover {
    background-color: #ebebeb;
    cursor: pointer;
}

.dashboard-sidebar {
    border: 1px solid #ccc;
}

.dashboard-content {
    /* border: 1px solid #ccc; */
    /* height: fit-content; */
}

.limits {
    position: relative;
    overflow: hidden;
}

.scaller {
    position: absolute;
    bottom: 0px;
    /* height: 50%; */
    width: 100%;
    z-index: -1;
}

.dashboard-sidebar .percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: -5px;
    left: calc(50% - 16px);
    width: 32px;
    height: 20px;
    font-size: 11px;
    color: #F58634;
    border-radius: 30%;
    box-shadow: 0px 0px 2px #ccc;
    background-color: white;
    z-index: 1;
}

.email {
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 2px 8px;
}

.dashboard-sidebar .complete {
    color: white;
    background-color: #F58634;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #ccc;
}
/* 
.dashboard-sidebar .complete:hover {
} */

.dashboard-sidebar .menu ul{ 
    width: 100%;
}

.dashboard-sidebar .menu ul li {
    padding: 5px 0px;
    margin: 5px 0px;
    /* width: 70%; */
    font-weight: bold;
    margin-bottom: 4px;
    border-radius: 15px;
    color: #333;
    background-color: #f8f8f8;
}

.dashboard-sidebar .menu ul li:hover{
    background-color: #ebebeb;
    cursor: pointer;
}